@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/patt.png);
    height: 2935px;
    
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    padding-left: -15px;
    padding-right: -15px;
}

.row::after{
    content: "";
    display: block;
    clear: both;    
}
      
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33.333%;
}

.col-md-6{
    width: 50%;
    
}
.col-md-9{
    width: 75%;
}
.col-md-12{
    width: 100%;
}
.col-md-8{
    width: 66.667%;
}

/* *************HEADER**************** */

.header{
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo{
    margin-top: 7px;
    
    }
.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    color: rgb(44, 113, 184);
}
     
.menu > li:last-child{
    border-right: 1px solid #2c71b8;

}

.menu a{
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    color:  #2c71b8;

}
.arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../images/arrow_blue_color.png);
    
}

/******************************HEADER :HOVER**************/

.menu a:hover{
    background-color: #2c71b8;
    color: rgb(255, 255, 255);   
    z-index: 203;    
}
.menu a:hover .arrow{ 
    background-image: url(../images/arrow_white_color.png);    
}
li.product:hover > a{
    background-color: #2c71b8;
    color: rgb(255, 255, 255);
}

li.product:hover .arrow{
    background-image: url(../images/arrow_white_color.png);
}

/* ****************HEADER SUBMENU******************* */
.sub-menu{
    display: none;
    position: absolute;
    width: 279px;
    height: 315px;
    background-color: rgb(44, 113, 184);
    margin-left: -1px; 

} 
.sub-menu li{
    width: 100%;
    line-height: 40px;
    border: none;        
} 
.sub-menu a{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    color: rgb(255, 255, 255);
}
.sub-menu-item{
    padding-left: 30px;
}
.menu li:hover .sub-menu{
    display: block;
}
.sub-menu a:hover{
    background-color: rgb(255, 255, 255);
    color: #2c71b8;
    width: 100%;
    text-align: left;
    z-index: 203;  
}
/*******HEADER SEARCH AND CART************* */
.search-window{
    display: block;
    position: relative;
    float: left;
    border: 1px solid rgb(44, 113, 184);
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -15px;
    padding: 0;    
}

.search-input{
    display: block;
    position: relative;
    float: left;
    background-color: inherit;
    width:70%;
    height: 30px;
    border: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
::-webkit-input-placeholder {color: rgb(44, 113, 184);}
::-moz-placeholder {color: rgb(44, 113, 184);}
:-ms-input-placeholder{color: rgb(44, 113, 184);}

.search-bn{
    display: block;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color:  rgb(44, 113,184);
    border: none;
    
}
.search-img{
    width: 30px;
    height: 30px;
}

.cart-bn{
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -15px;
    padding: 10px;
    border: none;
}
.counter-wrapper{
    position: absolute;
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(44, 113, 184);
    top: -10px;
    left: -10px;
}

.counter-wrapper span{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    /* color: rgb(255, 255, 255); */
    line-height: 20px;
    color: rgba(255, 255, 255, 0.75);
    margin:0 auto;
    left: 0;
    right: 0;
}
/* ************************MAIN BLOCK********** */
.main{
    height: 2735px;    
}
/* ************************SLIDER********** */
.container-slider{
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    
}
.slider{
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;  
}
/* ************************PTODUCTS SIDEBAR********** */

.devices{
    padding: 0;
    margin: 0;
    height: 2340px;
}

.sidebar{
    display: block;
    position: relative;
    height: 2340px;
    width: 100%;
}
.sidebar-menu{
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255, 0.2);
    height: 850px;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}
label{
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 23px;
}
label::before{
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: inherit;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 15px;
    cursor: pointer;

}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label::before{
    background-color: rgb(255, 255, 255);    
}
.color-ram{
    margin-top: 60px;
}
.sidebar-menu-name{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);     
}
.sidebar-menu-text{
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255); 
    margin-top: 20px;

}
.bn-submit{
    width: 210px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #2c71b8;
    color:rgb(255, 255, 255) ;
}

/* ********************PRODUCTS DEVICES NAMES***************** */

.path{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.2;
    text-align: left;
    height: 70px;
    line-height: 70px; 
    
}
h1{
    display: inline-block;
}

.products-name{
    display: block;
    position: relative;
    /* float: left; */
    font-size: 48px;
    /* line-height: 95px; */
    color: rgb(255, 255, 255);
    text-align: left;
    height: 95px;
    margin-top: 0;
    width: 100%;        
    /* margin-bottom: 60px; 
    margin-right: 0;
    width: 50%; */
}
 
.sort{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(44, 113, 184);
    width: 270px;
    height: 45px;
    /* float: right; */
    margin-bottom: 55px;
    background-color: inherit;
    
}
.sort-by{
    display: block;
    font-size: 21px;
    color: rgb(255, 255, 255);
    height: 40px;
   
   
}
.sort-by-item{
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    
    
}
select{
    background-color: rgb(44, 113, 184); 
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
}
.product-cell{
    display: block;
    position: relative;
    height: 660px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    background-color: rgb(44, 113, 184, 0.75);
    
}

/* ********************DEVICES******************** */

.device-foto{
    display: block;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.749);
    height: 180px;
    width: 100%;
}
.foto{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.wrapper-like-and-focus{
    display: block;
    position: relative;
    float: right;
}
.focus-wrapper{
    display: block;
    border: 1px solid rgb(44, 113, 184);
    width: 30px;
    height: 30px;
    margin: 10px;
}
.foto-focus{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/focus-blue.png);
    background-position: unset;
    margin: 4px;
}
.focus-wrapper:hover {
    background-color: rgb(44, 113, 184, 0.75) ;
}
.focus-wrapper:hover .foto-focus{
    background-image: url(../images/focus-wihte.png);
}
/* ********************LIKE AND FOCUS************* */
.like-wrapper{
    display: block;
    border: 1px solid rgb(44, 113, 184);
    width: 30px;
    height: 30px;
    margin: 10px;
}
.foto-like{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/like-blue.png);
    background-position: unset;
    background-repeat: no-repeat;
    margin-top: 6px;
    margin-left: 5px;
}
.like-wrapper:hover {
    background-color: rgb(44, 113, 184, 0.75) ;
}
.like-wrapper:hover .foto-like{
    background-image: url(../images/like-wihte.png);
    }

/* ************************* */
.foto-like-and-focus-1{
    display: block;
    background-color: rgb(44, 113, 184, 0.75) ;
    border: 1px solid rgb(44, 113, 184);
    right: 0;
    margin: 10px;
    padding: 5px;
}

.device-description{
    display: block;
    width: 100%;
    height: 305px;
    padding-left: 15px;
    margin-bottom: 5px;
}
.device-description > a{
    text-decoration: none;
}

.device-name{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: auto;
}
.description{
    display: inline-block;
    width: 190px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    line-height: 1.5; 
    
}
.characteristik-name{
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgb(255, 255, 255);     
}
.characteristik-description{
    display: inline;
    font-size: 21px;
    line-height: 1.5;    
    color: rgb(255, 255, 255);
}
.price{
    display: block;
    margin-top: 30px;
    font-size: 45px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;

}
.price-sup{
    display: inline-block;
    top: 0;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    vertical-align: revert;
}
.bn-wrapper{
    display: block;
    width: 210px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 15px;
}
.more-ditails-bn{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.add-to-cart-bn{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.add-to-cart-bn-cart{
    display: block;
    position: relative;
    float: right;    
    margin-right: 20px;
}

/* ****************LOARD MORE*********************** */


.load-more{
    position: relative;
    top: 0px;
    bottom: 0px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 1.111;
    text-align: center;
}


/* ******************FOOTER******************** */

.footer{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.text-footer{
    font-size: 21px;
    color: rgb(44, 113, 184);
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}